apiVersion: v1
kind: Service
metadata:
  name: redis-headless
  namespace: infrastructure
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: service
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: redis
      port: 6379
      targetPort: redis
  selector:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: redis
    app.kubernetes.io/component: database

---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: infrastructure
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: service
spec:
  selector:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: redis
    app.kubernetes.io/component: database
  type: LoadBalancer
  sessionAffinity: None
  ports:
    - name: redis
      targetPort: redis
      port: 6379
