apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: infrastructure
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql
    app.kubernetes.io/component: database
  annotations:
spec:
  type: LoadBalancer
  sessionAffinity: None
  ports:
    - name: mysql
      port: 3306
      targetPort: mysql
  selector:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/instance: mysql
    app.kubernetes.io/component: database
